$texte-principale: #1A1D20;
$description-du-texte: #6C757D;
$accent: #00439C;
$accent-hover: #005BEA;
$accent-orange: #FF4500;
$fond-de-page: #F4F6F8;
$conteneur: #FFFFFF;
$font-title: 'Lexend', sans-serif;
$font-body: 'Inter', sans-serif;